/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

.contentWrapper {
    padding: 2px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    margin-top: 0;
    padding-top: 0;
    background-color: #333;
    font-size: 20px;
    color: white;
    font: 700;
    text-decoration: none;
}

.navbar a {
  float: left;
  /*font-size: 20px;
  color: white;
  font: 700;*/
  color:inherit;
  font-size:inherit;
  font:inherit;
  text-decoration:inherit;
  text-align: center;
  padding: 16px 16px;
  display: block;
}

.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 20px;
    font: 700;
    border: none;
    text-align:center;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        width: 100%;
        text-align: left;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkslategrey;
}

/* Set jQuery dropdown style */
.ui-autocomplete {
    cursor: pointer;
    list-style: none;
    text-align: left;
    width: 150px;
    border: 1px solid;
    border-color: black;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
}
    .ui-autocomplete .ui-menu-item:hover {
        background-color: darkgray;
    }
