@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="jumbotron" style="background: none">
        <h1>Лабораторна 6</h1>
    </div>
</body>

<style>
    html {
        height: 100%;
        width: 100%;
    }
    body {
        height: 100%;
        width: 100%;
        background-image: url('../images/sraketa3.jpg');
        color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>