@model CoreTest1.Models.Part

@{
    ViewData["Title"] = "Details";
}

    <div class="contentWrapper">
        <h4 style="text-align: center">@Html.DisplayFor(model=>model.Name)</h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src=@Model.ImgSource alt="На жаль, неможливо завантажити зображення" />
                </div>
                <div class="col-lg-6">
                    @Html.DisplayFor(model => model.Descr)
                </div>
            </div>
        </div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div>
