@model CoreTest1.Models.Left

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Left</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartID" class="control-label"></label>
                <select asp-for="PartID" class ="form-control" asp-items="ViewBag.PartID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StockID" class="control-label"></label>
                <select asp-for="StockID" class ="form-control" asp-items="ViewBag.StockID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrDate" class="control-label"></label>
                <input asp-for="ArrDate" class="form-control" />
                <span asp-validation-for="ArrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
